.list {
  &__main {
    position: relative;
  
    &[data-display="block"] {
      display: block; 
    }

    &[data-display="none"] {
      display: none;
    }
  }

  &__sidebar {
    &.l {
      margin-left: 1rem;

      &[data-dir="rtl"] {
        margin-left: 0;
        margin-right: 1rem;
      }

      &[data-dir="ltr"] {
        margin-left: 1rem;
        margin-right: 0;
      }
    }

    &[data-dir="rtl"] {
      margin-left: 1rem;
      margin-right: 0;
    }

    &[data-dir="ltr"] {
      margin-left: 0;
      margin-right: 1rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.25rem 0;
    font-family: $title-font;

    &--title {
      @include themify($themes) {
        color: themed('list-header-title-color');
      }
    }

    &--desc {
      padding: 1rem;
      line-height: 1.7rem;
    }
  }
}

/**********************************************************/
/* content                                                */
/**********************************************************/
.summary-classic__content {
  padding: 0 !important;
}

/**********************************************************/
/* title                                                  */
/**********************************************************/
.summary-classic {
  display: block;
  margin: 4rem 1rem .25rem 1rem;
  padding: 0;
  color: $text-color;
  font-family: sans-serif;
  .title {
    position: relative;
    margin-bottom: 1rem;
    padding: .6rem 2rem .5rem 2rem;
    text-align: left;
    border-radius: 0 10px 10px 10px;
    background-color: $sub-color;
    &::before {
      font-size: 1.2rem;
      font-weight: 500;
      position: absolute;
      top: -2.4rem;
      left: 0;
      height: 2.0em;
      padding: .5rem 2rem 0 2.7rem;
      color: $hilight-color;
      border-radius: 10px 10px 0 0;
      background-color: $main-color;
      background-repeat: no-repeat;
      background-size: 1.2rem 1.2rem;
      background-position: 1.1rem .7rem;
    }
    a:active, a:link, a:visited {
      color: $main-color !important;
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
}
[type=shop] {
  .title {
    &::before {
      content: 'shop';
      background-image: url('/icons/shop.svg');
    }
  }
}
[type=item] {
  .title {
    &::before {
      content: 'item';
      background-image: url('/icons/item.svg');
    }
  }
}

/**********************************************************/
/* h2                                                     */
/**********************************************************/
.summary-classic__text {
  position: relative;
  display: block;
  padding: 0;
  > h2 {
    display: block;
    margin: 0;
    padding: .8rem 0 .8rem 3.5rem;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 600;
    color: $text-color;
    border-radius: 10px;
    background-color: $sub-color;
    background-repeat: no-repeat;
    background-size: 1.6rem 1.6rem;
    background-position: 1.2rem .7rem;
    background-image: url('/icons/item2.svg');
  }
}

/**********************************************************/
/* link                                                   */
/**********************************************************/
.summary-classic .title {
  a:active, a:visited, a:link {
    color: $text-color;
  }
  a:hover {
    color: $hilight-color;
  }
}

/**********************************************************/
/* affiliate link                                         */
/**********************************************************/
.summary-classic {
  table[border="0"][cellpadding="0"][cellspacing="0"] {
    margin-top: 1rem;
    width: 600px;
  }
  .more {
    margin-top: -1rem;
    width: 600px;
    text-align: right;
  }
}

/**********************************************************/
/* meta data                                              */
/**********************************************************/
.subtitle {
  font-weight: normal;
}
__meta {
  font-size: 0.8rem;
  margin-bottom: 2rem;

  @include flexbox();
  @include align-items(center);
  @include flex-wrap(wrap);
  @include flex-grow(1);
  @include themify($themes) {
    color: themed('meta-color');
  }
  @media only screen and (max-width: 769px) {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(flex-start);
  }
}

/**********************************************************/
/* hide text                                              */
/**********************************************************/
.summary-classic__text p:first-child {
  ~ p {
    display: none;
    visibility: hidden;
  }
}
.summary-classic__text h2 {
  ~ p {
    display: block;
    visibility: visible;
  }
}
